<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>My List</title>
</head>
<body>
<h1>My List</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="Note : ${notes}">
        <td th:text="${Note.getTitle}"></td>
        <td th:text="${Note.getContent}"></td>
<!--        <td> <button class="button button1" URL=th:text="'http://localhost:8080/note/'+${Note.getId}">Редагувати</button> </td>-->
        <td> <button class="button button1" URL="http://localhost:8080/note/">Редагувати</button> </td>
        <td> <button class="button button1" URL="">Видалити</button> </td>
    </tr>
    </tbody>
</table>
</body>
</html>