<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>My List</title>
</head>
<body>
<h1>List of Notes</h1>
<table>
    <thead>
    <tr>
        <th>Мої </th>
        <th>Нотатки</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="Note : ${notes}">
        <td th:text="${Note.getTitle}"></td>
        <td th:text="${Note.getContent}"></td>
        <td> <form method="get" action="http://localhost:8080/note/edit">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" name="id" th:value="${Note.getId}">
            <button id="editButton">Редагувати</button>
        </form></td>
        <td> <form method="post" action="http://localhost:8080/note/delete">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" name="id" th:value="${Note.getId}">
            <button id="deleteButton">Видалити</button>
        </form></td>

    </tr>
    </tbody>
</table>
</body>
</html>